.site { 

    @include respond-to(null, 'large') {
        width: 100%;
    }

    @include respond-to('large', null) {
        @include container-width(8);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
} 

article {
    @include respond-to(null, 'large') {
        width: 100%;

        h1, h2, h3, h4, h5, h6, p {
            padding: 0 $gutter * 2;
        }

    }

    @include respond-to('large', null) {
        @include col-width(5);
        position: relative;
    }
}
