
$column: 122px;
$gutter: 16px;

@mixin col-width($i) {
    width: ($i * $column) + ($i * $gutter) + $gutter;
    margin: 0 ($gutter / 2) 0 ($gutter / 2) ;
}

@mixin container-width($i) {
    width: ($i * $column) + ($i * $gutter) + $gutter;
    margin: 0 0 0 0; 
    padding: 0 0 0 0;
}

$breakpoints: (
  'mobile': 599px,
  'small':  767px,
  'medium': 992px,
  'large':  1200px,
);

@mixin respond-to($breakpointsmall, $breakpointbig) {

  @if ($breakpointsmall and $breakpointbig) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpointsmall)) and (max-width: map-get($breakpoints, $breakpointbig) - 1px) {
          @content;
      }
  } @else if ($breakpointsmall) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpointsmall)) {
          @content;
      }
  } @else if ($breakpointbig) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpointbig) - 1px) {
      @content;
    }
  } @else {
    @error "DID NOT WORK.";
  }
}
