$sans: 'Fira Sans', 'Helvetica', sans;
$serif: 'Noto Serif', Times, serif;
$mono: 'Fira Mono', Courier, mono;

$primary-dark: #222222;
$secondary-dark: #555555;
$body-bg: #f0efef;
$red: #c0392b;
$red-secondary: #fadfdc;
