@charset "utf-8";

// Dracula Pallete
$dracula-bg: #282a36;
$dracula-fg: #f8f8f2;
$dracula-text: #edede6;
$dracula-selected: #44475a;
$dracula-comment: #6272a4;
$dracula-cyan: #8be9fd;
$dracula-green: #50fa7b;
$dracula-orange: #ffb86c;
$dracula-pink: #ff79c6;
$dracula-purple: #bd93f9;
$dracula-red: #ff5555;
$dracula-yellow: #f1fa8c;

$a-tag-default: $dracula-cyan;
$a-tag-hover: $dracula-cyan;
$a-tag-visited: $dracula-purple;
