article { background-color: pink; } 


.note {
    @extend .caption-secondary;

    @include respond-to(null, 'large') {
        position: relative;
        left: -1 * $gutter;
        display: block;
        width: 100%;
    }

    @include respond-to('large', null) {
        @include col-width(2);
        position: absolute;
        right: calc(100% + #{$gutter});
    }

    background-color: $accent-light;
    border: 1px solid $accent-dark;
    border-right: 4px solid $accent-dark;
    text-align: right;
    padding: $gutter;

}
