
main {
    @include container(8);
    @include pull-flex-children-right;
}

header { .subtitle-secondary { padding: 0 0 0 2em; } }
header { .article__title { @extend h1; font-size: 3em; } }

article {

    @include respond-to(null, 'small') {
        @include col-width(4);
        position: static;
    }
    @include respond-to('small', 'medium') {
        @include col-width(8);
        position: static;
    }
    @include respond-to('medium', 'large') {
        @include col-width(5);
        position: relative;
    }
    @include respond-to('large', null) {
        @include col-width(5);
        position: relative;
    }
}

